@page
@model Gestion_Scolarite.Pages.EnseignantVues.EnseignantAbsences.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutEnseignant.cshtml";
}

<h1>Edit</h1>

<h4>Absence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Absence.ID" />
            <input type="hidden" asp-for="Absence.justification" />
            <input type="hidden" asp-for="Absence.Fichier" />
            <div class="form-group">
                <label asp-for="Absence.Etudiant" class="control-label"></label>
                <select asp-for="Absence.EtudiantID" class="form-control" asp-items="ViewBag.EtudiantID"></select>
                <span asp-validation-for="Absence.EtudiantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absence.Absence_Justifie" class="control-label"></label>
                <select asp-for="Absence.Absence_Justifie" class="form-control" asp-items="ViewBag.Absence_Justifie"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-idMatiere="@Model.IdMat" asp-route-idSeance="@Model.IdSe">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
