@page
@model Gestion_Scolarite.Pages.Index2Model
@{
    ViewData["Title"] = "Enseignant";
    Layout = "~/Pages/Shared/_LayoutEnseignant.cshtml";
}
<h1>Enseignant</h1>
<h2>@Model.Enseignant.Nom @Model.Enseignant.Prenom</h2>